                        <table border="0" width="100%" cellspacing="0" cellpadding="2" height="193">
                          <tr>
                            <td width="93%" height="21"><font face="Verdana" size="2"><a href="#txt1">Hinzufügen
                              und Bearbeiten von Links, Adressen, Email Adressen
                              und Verzeichnissen.</a></font></td>
                          </tr>
                          <tr>
                            <td width="93%" height="21"><font face="Verdana" size="2"><a href="#txt2">Was
                              für Nachrichten kann ich verschicken ?</a></font></td>
                          </tr>
                          <tr>
                            <td width="93%" height="21"><font face="Verdana" size="2"><a href="#txt3">Wie
                              exportiere ich meine Adressen für Serienbriefe ?</a></font></td>
                          </tr>
                          <tr>
                            <td width="93%" height="1"><font face="Verdana" size="2"><a href="#txt4">Was
                              ist myFriends ?</a></font></td>
                          </tr>
                          <tr>
                            <td width="93%" height="21"><font face="Verdana" size="2"><a href="#txt5">Wie
                              sicher sind meine Daten bei myBookmark.de ?</a></font></td>
                          </tr>
                        </table>
                          </center>
                        </div>
                        <div align="center">
                          <center>
                          <table width="100%">
                    <tr>
                      <td width="92%" height="34"><font face="Verdana" size="2"><b><a name="txt1">Hinzufügen
                        und Bearbeiten von Links, Adressen, Email Adressen und
                        Verzeichnissen.</a></b></font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="154"><font face="Verdana" size="2">Verzeichnisse,
                        Links, Adressen und EMail-Adressen werden über das
                        jeweilige Symbol in der Menüleiste erstellt.<br>
                        Um einen Eintrag (Verzeichnis, Link, EMail oder Adresse)
                        zu bearbeiten, wählen Sie einfach den Zugehörigen
                        Bearbeitungsbutton - <b>B</b> - des Eintrages aus. Die Angaben zu dem Eintrag können in den Feldern, die rechts neben den Einträgen
                        erscheinen, bearbeitet werden.</font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="21"><font face="Verdana" size="2"><b><a name="txt2">Was
                        für Nachrichten kann ich verschicken ?</a></b></font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="72"><font size="2" face="Verdana">Mit
                        {SITENAME} Mail können Nachrichten an andere {SITENAME}
                        Nutzer versendet werden.</font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="21"><font face="Verdana" size="2"><b><a name="txt3">Wie
                        exportiere ich meine Adressen für Serienbriefe ?</a></b></font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="129"><font size="2" face="Verdana">Zum
                        exportieren von Adressen (das exportieren von eMail
                        Adressen und Links wird demnächst verfügbar sein)
                        wählen Sie den Punkt exportieren in Menü aus. In dem
                        Exportfenster können Sie 2 Kriterien für die Auswahl
                        der Adressen angeben. Sind beide Felder leer, so werden
                        alle Adressen ausgewählt. Über den Button Weiter
                        erhalten Sie eine Vorschau der gefundenen Adressen.</font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="21"><font face="Verdana" size="2"><b><a name="txt4">Was
                        ist myfriends ?</a></b></font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="149"><font size="2" face="Verdana">Mit
                        myFriends sehen Sie, wer von Ihren Freunden noch in
                        myBookmark online ist. Hier können Sie direkt
                        Nachrichten verschicken um sich z.B. zum Chat zu
                        verabreden. Ein neuer Eintrag wird über den Menüpunkt
                        myFriends erstellt. Im Feld userName wird der {SITENAME}
                        Username Ihres Freundes eingetragen, im Feld
                        Name die Bezeichnung unter dem der Eintrag im Menü
                        erscheinen soll. Der Eintrag funktioniert nach dem
                        nächsten Login.</font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="21"><font face="Verdana" size="2"><b><a name="txt5">Wie
                        sicher sind meine Daten bei myBookmark.de ?</a></b></font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="113"><font size="2" face="Verdana">Es
                        erfolgt grundsätzlich keine Weitergabe der in
                        {SITENAME} gespeicherten Daten an Dritte. {SITENAME} übernimmt jedoch keine
                        Haftung für Vollständigkeit und Verfügbarkeit der
                        gespeicherten Daten</font></td>
                    </tr>
                    <tr>
                      <td width="92%" height="21"></td>
                    </tr>
                    <tr>
                      <td width="92%" height="21" style="font-family: Verdana, Arial, Helvetica; font-size: 8pt" align="center"></td>
                    </tr>

                          </table>