

  
<table border="0" width="100%" cellspacing="0" cellpadding="4">
  <tr> 
    <td height="18"> 
      <p align="center" class="normal_bold">&nbsp; 
    </td>
  </tr>
  <tr> 
    <td class="normal"> 
      <p>&nbsp;</p>
      <p align="center"><b>Wollen Sie den Dokumententyp<br>
        <br>
        '{DOCTYPE_TITLE}' <br>
        <br>
        und alle in diesem Dokumententyp <br>
        gespeicherten Daten l&ouml;schen?<br>
        <br>
        </b> <a href="../../index.php?s={S}"><img src="../../design/default/btn_abbrechen.gif" width="74" height="22" border="0"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="doctype_delete.php?s={S}&doctype_id={DOCTYPE_ID}"><img src="../../design/default/btn_loeschen.gif" width="74" height="22" border="0"> 
        </a></p>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr> 
    <td height="18"> 
      <p align="center" class="normal_bold">&nbsp; 
    </td>
  </tr>
</table>
