<table border="0" width="100%" cellspacing="0" cellpadding="2" bgcolor="#FFFFFF">
  <tr> 
    <td colspan="3" height="13"> <div align="right"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif">[<a href="empty_trash.php?s={S}&gid={GID}">{TXT_PAPIERKORB_LEEREN}</a>]</font>&nbsp;&nbsp;&nbsp;</div></td>
  </tr>
  <!-- BEGIN DYNAMIC BLOCK: user -->
  <tr bgcolor="{BGCOLOR}"> 
    <td height="5" width="5%"> <p align="left" class="t2"><img src="../../{DESIGNPATH}/icons/{ICON}" width="16" height="16">&nbsp;&nbsp;{DOCTYPETITLE}</p></td>
    <td width="80%" align="left" class="t2">{ITEMTITLE}</td>
    <td width="15%" height="18" class="t2"> <div align="center">[ <a href="delete.php?tree_id={TREE_ID}&action=undo&type={TYPE}&s={S}" class="t2l">{WIEDERHERSTELLEN}</a> 
        ]</div></td>
  </tr>
  <!-- END DYNAMIC BLOCK: user -->
  <tr> 
    <td height="1" colspan="3"><img src="../../{DESIGNPATH}/x.gif" width="440" height="1"></td>
  </tr>
  <tr> 
    <td colspan="3" align="center" height="45"> <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td class="t2">{ZURUECK}&nbsp;</td>
          <td><div align="right" class="t2">&nbsp;{WEITER}</div></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td height="1" colspan="3" class="t2">
	<table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tr> 
          <td class="t2">{PAPIERKORB_HINWEIS}</td>
		  </tr>
		  </table></td>
  </tr>
</table>