      <form method="POST" name="myform" action="insert.php" target="seiteFrame">
        
  <table border="0" width="100%" cellspacing="0" cellpadding="4" bgcolor="{TABLE_H_COLOR}">
    <tr> 
      <td width="100%" colspan="2" height="18"> 
        <p align="center" class="normal_bold">&nbsp; 
      </td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">&nbsp;Titel:</td>
      <td width="83%"> 
        <input type="text" name="form[deck_title]" size="34" maxlength="50" class="text" value="{DECK_TITLE}">
      </td>
    </tr>
	<tr> 
      <td width="17%" class="normal_bold">Sichtbar:</td>
      <td width="83%"> 
        <select name="form[deck_visible]">
          <option value="1">Ja</option>
          <option value="0" {INVISIBLE}>Nein</option>
        </select>
      </td>
    </tr>
	<tr> 
      <td width="17%" class="normal_bold">Lese Recht:</td>
      <td width="83%"> 
        <select name="form[perm_read]">
          <option value="r" {PERM_READ_READ}>Read</option>
		  <option value="w" {PERM_READ_WRITE}>Write</option>
		  <option value="a" {PERM_READ_ADMIN}>Admin</option>
        </select>
      </td>
    </tr>
	<tr> 
      <td width="17%" class="normal_bold">Schreib Recht:</td>
      <td width="83%"> 
        <select name="form[perm_write]">
          <option value="r" {PERM_WRITE_READ}>Read</option>
		  <option value="w" {PERM_WRITE_WRITE}>Write</option>
		  <option value="a" {PERM_WRITE_ADMIN}>Admin</option>
        </select>
      </td>
    </tr>
    <tr> 
      <td width="100%" colspan="2" align="center" height="62"> 
        <input type="submit" name="Abschicken" value="Speichern">
      </td>
    </tr>
  </table>
        
  <input type="hidden" name="deck_id" value="{DECK_ID}">
  <input type="hidden" name="s" value="{S}">
  <input type="hidden" name="art" value="deck">
  <input type="hidden" name="doctype_id" value="{DOCTYPE_ID}">
</form>

