<table border="0" width="100%" cellspacing="0" cellpadding="2" bgcolor="{TABLE_H_COLOR}">
  <tr> 
    <td colspan="4" height="13"><img src="../../design/default/x.gif" width="{BOX_SPACER}" height="1"></td>
  </tr>
  <!-- BEGIN DYNAMIC BLOCK: documents -->
  <tr bgcolor="{BGCOLOR}"> 
    <td width="4%" height="13"><img src="../../design/default/icons/{ICON}" width="16" height="16"></td>
    <td width="71%" class="t2l"><a href="../edit/edit.php?s={S}&tree_id={TREE_ID}" class="t2l">{DOC_TITLE}</a></td>
    <td width="9%" height="13">&nbsp;</td>
    <td width="16%" height="13">[<a href="../edit/delete.php?s={S}&tree_id={TREE_ID}" class="t2l">L&ouml;schen</a>]</td>
  </tr>
  <!-- END DYNAMIC BLOCK: documents -->
  <tr> 
    <td colspan="4" align="center" height="45"> 
	<table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td class="t2">{ZURUECK}&nbsp;</td>
          <td> <div align="right" class="t2l">&nbsp;{WEITER}</div></td>
        </tr>
      </table>
	  </td>
  </tr>
</table>
