      
<table border="0" width="100%" cellspacing="0" cellpadding="4"bgcolor="{TABLE_H_COLOR}">
  <tr> 
          
    <td colspan="2" height="18"> 
      <p align="center" class="normal_bold">&nbsp; 
          </td>
        </tr>
		<!-- BEGIN DYNAMIC BLOCK: documents -->
  <tr bgcolor="{BGCOLOR}"> 
    <td width="47%" class="normal">{DOCTYPE_TITLE}:</td>
    	  
    <td width="53%" class="normal"> 
      <div align="right">[<a href="doctype_show.php?id={DOCTYPE_ID}&s={S}">Bearbeiten</a>] 
        [<a href="doctype_delete_try.php?doctype_id={DOCTYPE_ID}&s={S}">L&ouml;schen</a>]</div>
    </td>
        </tr>
		<!-- END DYNAMIC BLOCK: documents -->
		<tr> 
          
    <td colspan="2" height="18"> 
      <p align="center" class="normal_bold">&nbsp; 
          </td>
        </tr>
      </table>