    <table border="0" width="100%" cellspacing="0" cellpadding="4">
      <tr>
        <td width="100%" height="66" class="normal" bgcolor="{TABLE_H_COLOR}">
          <form method="POST" action="design_speichern.php" target="_top">
            <table border="0" width="100%" bgcolor="#FFFFFF" cellpadding="4">
              <tr>
                <td width="100%" bgcolor="{TABLE_H_COLOR}">
                  <p align="center" class="normal_bold">&nbsp;{SITENAME} Systemfarbe</p>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="{TABLE_H_COLOR}">
                  <div align="center">
                    <center>
                  <table border="0" width="175" height="95" cellpadding="0" bgcolor="#000000">
                    <tr>
                      <td width="50" valign="middle" align="center" height="42" bgcolor="#025CCA"><input type="radio" name="system" value="025CCA" checked></td>
                      <td width="52" valign="middle" align="center" height="42" bgcolor="#339966"><input type="radio" name="system" value="339966"></td>
                      <td width="51" valign="middle" align="center" height="42" bgcolor="#C0C0C0"><input type="radio" name="system" value="C0C0C0"></td>
                    </tr>
                    <tr>
                      <td width="50" valign="middle" align="center" height="41" bgcolor="#B70000"><input type="radio" name="system" value="B70000"></td>
                      <td width="52" valign="middle" align="center" height="41" bgcolor="#000080"><input type="radio" name="system" value="000080"></td>
                      <td width="51" valign="middle" align="center" height="41" bgcolor="#009797"><input type="radio" name="system" value="009797"></td>
                    </tr>
                  </table>
                    </center>
                  </div>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="{TABLE_H_COLOR}">
                  <p align="center" class="normal_bold">&nbsp; Farbe der
                  Schaltfächen</p>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="{TABLE_H_COLOR}">
                <div align="center">
                  <center>
                <table border="0" width="175" height="95" cellpadding="0" bgcolor="#000000">
                    <tr>
                      <td width="50" valign="middle" align="center" height="42" bgcolor="#025CCA"><input type="radio" name="button" value="blau" checked></td>
                      <td width="52" valign="middle" align="center" height="42" bgcolor="#339966"><input type="radio" name="button" value="gruen"></td>
                      <td width="51" valign="middle" align="center" height="42" bgcolor="#C0C0C0"><input type="radio" name="button" value="grau"></td>
                    </tr>
                    <tr>
                      <td width="50" valign="middle" align="center" height="41" bgcolor="#B70000"><input type="radio" name="button" value="rot"></td>
                      <td width="52" valign="middle" align="center" height="41" bgcolor="#000080"><input type="radio" name="button" value="dblau"></td>
                      <td width="51" valign="middle" align="center" height="41" bgcolor="#009797"><input type="radio" name="button" value="petrol"></td>
                    </tr>
                  </table>
                  </center>
                </div>
                  </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="{TABLE_H_COLOR}">
                  <p align="center" class="normal_bold">&nbsp;
                  Hintergrundfarbe Menü's</p>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="{TABLE_H_COLOR}"><div align="center">
                  <center>
                <table border="0" width="175" height="53" cellpadding="0" bgcolor="#000000">
                    <tr>
                      <td width="50" valign="middle" align="center" height="3" bgcolor="#E4E4E4"><input type="radio" name="bground" value="E4E4E4" checked></td>
                      <td width="52" valign="middle" align="center" height="3" bgcolor="#FFFFFF"><input type="radio" name="bground" value="FFFFFF"></td>
                      <td width="51" valign="middle" align="center" height="3" bgcolor="#FFFFE6"><input type="radio" name="bground" value="FFFFE6"></td>
                    </tr>
                  </table>
                  </center>
                </div>
                </td>
              </tr>
            </table>
            <p align="center"><input type="submit" value="Farbeinstellungen ändern" name="B1"></p>
            <input type="hidden" name="s" value="{S}">
          </form>
        </td>
      </tr>
      <tr>
        <td width="100%" class="t3bw" bgcolor="{FGCOLOR}" height="21">Sortierung der
          {SITENAME} Einträge</td>
      </tr>
      <tr>
        <td width="100%" height="62" class="normal" bgcolor="{TABLE_H_COLOR}">
          Sortierung <a href="sortierung_speichern.php?sort=on&amp;{SESSION}" target="_top">einschalten</a> (Standard)
          <a href="sortierung_speichern.php?sort=off&amp;{SESSION}" target="_top">ausschalten<br>
          </a>&nbsp;</td>
      </tr>
    </table>
