
<table border="0" width="100%" height="241" cellspacing="0" cellpadding="4">
  <tr>
    <td width="422" height="77" bgcolor="{TABLE_H_COLOR}" class="normal">
      <p align="left">Optionen
    </td>
  </tr>
  <tr>
    <td width="422" class="t3bw" bgcolor="{FGCOLOR}">&nbsp;Wie soll Ihr {SITENAME}
      aussehen?</td>
  </tr>
  <tr>
    <td width="422" height="36" class="normal" bgcolor="{TABLE_H_COLOR}">&nbsp;
      <a href="systemeinstellungen.php?{SESSION}" target="_self">Systemeinstellungen</a></td>
  </tr>
  <tr>
    <td width="422" height="36" class="normal" bgcolor="{TABLE_H_COLOR}">&nbsp;
      <a href="../index.php?{SESSION}" target="_top">Ansicht aktualisieren</a></td>
  </tr>
  <tr>
    <td width="422" class="t3bw" bgcolor="{FGCOLOR}">&nbsp; News</td>
  </tr>
  <tr>
    <td width="422" height="36" class="normal_bold" bgcolor="{TABLE_H_COLOR}">&nbsp;
      NewsOrdner [<a href="news.php?{SESSION}&amp;aktion=y" target="_top">einschalten</a>]&nbsp;
      [<a href="news.php?{SESSION}&amp;aktion=n" target="_top">ausschalten</a>]</td>
  </tr>
  <tr>
    <td width="422" class="t3bw" bgcolor="{FGCOLOR}">&nbsp; {SITENAME} Eintr&auml;ge
      L&ouml;schen</td>
  </tr>
  <tr>
    <td width="422" height="30" class="normal" bgcolor="{TABLE_H_COLOR}">&nbsp;
      <a href="delete_all.php?{SESSION}" target="_self">Alle Eintr&auml;ge l&ouml;schen</a></td>
  </tr>
</table>