<table width="100%" cellspacing="15">
  <tr>
  <td>
  <form name="form1" method="post" action="install.php">
        <table width="100%" border="0" cellpadding="2" cellspacing="0">
          <tr> 
            <td colspan="2" align="center"><hr size="1" noshade></td>
          </tr>
          <tr> 
            <td colspan="2"><table width="300" border="0" cellspacing="0" cellpadding="2">
                <tr> 
                  <td width="189" class="t2">&nbsp;{TXT_TYPO3_MYSQL_HOST}:</td>
                  <td width="103"><input name="mysql_server" type="text" class="text"
                  id="mysql_server"></td>
                </tr>
                <tr> 
                  <td class="t2">&nbsp;{TXT_TYPO3_MYSQL_USER}:</td>
                  <td><input name="mysql_user" type="text" class="text"
                  id="mysql_user" ></td>
                </tr>
                <tr> 
                  <td class="t2">&nbsp;{TXT_TYPO3_MYSQL_PASSWORT}:</td>
                  <td><input name="mysql_passwort" type="text" class="text"
                  id="mysql_passwort"></td>
                </tr>
                <tr> 
                  <td class="t2">&nbsp;{TXT_TYPO3_MYSQL_DB}:</td>
                  <td><input name="mysql_db" type="text" class="text"
                  id="mysql_db"></td>
                </tr>
                <tr> 
                  <td class="t2">&nbsp;{TXT_TYPO3_INSTALL_PASSWORT}:</td>
                  <td><input name="install_passwort" type="text" class="text"
                  id="install_passwort"></td>
                </tr>
                <tr> 
                  <td class="t2">&nbsp;{TXT_TYPO3_ADMIN_PASSWORT}:</td>
                  <td><input name="admin_passwort" type="text" class="text"
                  id="admin_passwort"></td>
                </tr>
              </table></td>
          </tr>
          <tr> 
            <td colspan="2" align="center"><hr size="1" noshade></td>
          </tr>
          {VERSIONS}
          <tr> 
            <td colspan="2" align="center"><hr size="1" noshade></td>
          </tr>
          {WEBS} 
          <tr> 
            <td colspan="2"><hr size="1" noshade></td>
          </tr>
          <tr> 
            <td colspan="2" align="center"><input name="s" type="hidden" value="{S}"> 
              <input type="submit" name="Submit" value="{TXT_INSTALL_STARTEN}" class="button"></td>
          </tr>
        </table>
</form>
</td></tr>
</table>