#header ul {
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0 15px 0 0;
  list-style: none;
  background: url(/themes/howtoforge/images/bg_header_bottom_right.gif) no-repeat bottom right;
  z-index: 90; /* below the H1 */
}
#header li {
  float: right;
  background: transparent url(/themes/howtoforge/images/header_tab.png) 100% -600px no-repeat;
  padding: 0 6px 0 0;
  margin: 0 1px 0 0;
  display: inline;
  white-space: nowrap;
  border-bottom: 1px solid #515358;
}
#header ul a {
  float: left;
  display: block;
  padding: 4px 4px 4px 10px;
  background: transparent url(/themes/howtoforge/images/header_tab.png) 0% -600px no-repeat;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#header ul li:hover a {
  background-position: 0% -400px;
}
#header ul li:hover {
  background-position: 100% -400px;
}
#current a {
  color: #C20508;
  text-decoration: underline;
}
.tabs {
  margin:15px 0 15px 0;
}
.tabs ul.primary {
        border-collapse:collapse;
        padding:0 0 3px 10px;
        white-space:nowrap;
        list-style:none;
        margin:0 0 0 0;
        height:auto;
        line-height:normal;
        border-bottom:2px solid #336699;
}
.tabs ul.primary li{display:inline;
}
.tabs ul.primary li a{padding:3px 10px 3px 10px;
        background:#fff url(images/tabs-off.png) left top no-repeat;
        border-color:#6699CC;
        border-width:2px;
        border-style:none solid none none;
        height:auto;
        margin-right:10px;
        text-decoration:none;
        text-transform:lowercase;
}
.tabs ul.primary li.active a {background:#336699 url(/themes/howtoforge/images/tabs-on.png) left top no-repeat;
        border-right:2px solid #336699;
        color:#fff;
}
.tabs ul.primary li a:hover {background-color:#fffaf0;
        color:#ff4500;
}
.tabs ul.secondary{border-collapse:collapse;
        padding:10px 0 10px 0px;
        margin:0 0 0 0;
        white-space:nowrap;
        list-style:none;
        height:auto;
        line-height:normal;
        border-bottom:none;
}
.tabs ul.secondary li{display:inline;
        height:auto;
        padding:0 0 0 10px;
        text-decoration:none;
        border-right:none;
}
.tabs ul.secondary li a{background:#fff url(/themes/howtoforge/images/tabs-option-off.png) left center no-repeat;
        padding:10px 0 10px 25px;
        margin:0 0 0 0;
}
.tabs ul.secondary li a.active{background:#fff url(/themes/howtoforge/images/tabs-option-on.png) left center no-repeat;
        color:#369;
        border-bottom:none;
}
.tabs ul.secondary li a:hover {background:#fff url(/themes/howtoforge/images/tabs-option-hover.png) left center no-repeat;
        color:#FF4500
}