###################################
#
# ISPConfig proftpd Configuration File
#         Version 1.0
#
###################################
<!-- BEGIN DYNAMIC BLOCK: vhost -->
<VirtualHost {IP}>
        DefaultRoot             ~
        AllowOverwrite          on
        Umask                   002
        {ANON_FTP}
</VirtualHost>
<!-- END DYNAMIC BLOCK: vhost -->