
  
<table border="0" width="100%" cellspacing="0" cellpadding="2" bgcolor="{TABLE_H_COLOR}">
  <tr> 
    <td colspan="3" height="13">&nbsp;</td>
  </tr>
  <!-- BEGIN DYNAMIC BLOCK: user -->
  <tr bgcolor="{BGCOLOR}"> 
    <td width="20%" height="18" class="t2b" nowrap> <img src="../../{DESIGNPATH}/icons/fenster.gif" width="16" height="16"><nobr></nobr>&nbsp;&nbsp;{TITLE} 
    </td>
    <td width="48%" height="18" class="t2" nowrap><nobr>{ENABLED} {TYPE} {NAME}</nobr></td>
    <td width="32%" height="18" class="t2" nowrap><nobr>[<a href="../../multidoc/edit/edit.php?tree_id={TREE_ID}&s={S}" class="t2l">Bearbeiten</a>] 
      [<a href="../../multidoc/edit/delete.php?tree_id={TREE_ID}&s={S}" class="t2l">L&ouml;schen</a>]</nobr></td>
  </tr>
  <!-- END DYNAMIC BLOCK: user -->
  <tr> 
    <td colspan="3" align="center" height="45">
      <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td class="t2">{ZURUECK}</td>
          <td> 
            <div align="right" class="t2l">{WEITER}</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
