<table width="100%" cellspacing="15">
  <tr>
    <td>
        <table width="100%" border="0" cellpadding="2" cellspacing="0">
          <tr> 
            <td height="34" class="t4b">&nbsp;{PRIORITY}: {TPRIORITY}<br />
			&nbsp;{SUBJECT}: {TSUBJECT}</td>
          </tr>
		  <!-- BEGIN DYNAMIC BLOCK: liste -->
          <tr> 
            <td align="center"><hr size="1" noshade></td>
          </tr>
		  <tr> 
            <td class="t3b" bgcolor="EEEEEE">&nbsp;{FROM}: {TFROM}<br />
			&nbsp;{DATE}: {TDATE}</td>
		  </tr>
		  <tr>
		    <td class="t2">&nbsp;{TMESS}</td>
		  </tr>
		  <!-- END DYNAMIC BLOCK: liste -->
        </table>
	</td>
  </tr>
</table>
{RESPOND}