      <form method="POST" name="myform" action="insert.php" target="seiteFrame">
        
  <table border="0" width="100%" cellspacing="0" cellpadding="4" bgcolor="{TABLE_H_COLOR}">
    <tr> 
      <td width="100%" colspan="2" height="18"> 
        <p align="center" class="normal_bold">&nbsp; 
      </td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">Layer:</td>
      <td width="83%"> {DECKS}</td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">Name:</td>
      <td width="83%"> 
        <input type="text" name="form[name]" size="34" maxlength="50" class="text" value="{NAME}">
      </td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">&nbsp;Title:</td>
      <td width="83%"> 
        <input type="text" name="form[title]" size="34" maxlength="255" class="text" value="{TITLE}">
      </td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">Description:</td>
      <td width="83%"> 
        <textarea name="form[description]" cols="34" class="text" rows="5">{DESCRIPTION}</textarea>
      </td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">Form:</td>
      <td width="83%"> 
        <select name="form[doctype]">
		{DOCTYPES}
        </select>
      </td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">View:</td>
      <td width="83%"> 
        <select name="form[view]">
          <option value="list">Liste</option>
          <option value="full">Vollansicht</option>
        </select>
      </td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">Fields:</td>
      <td width="83%"> 
        <textarea name="form[fields]" cols="34" class="text" rows="5">{FIELDS}</textarea>
      </td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">Visible:</td>
      <td width="83%"> 
        <select name="form[visible]">
          <option value="1">Yes</option>
          <option value="0" {INVISIBLE}>No</option>
        </select>
      </td>
    </tr>
    <tr> 
      <td width="17%" class="normal_bold">CSS Class:</td>
      <td width="83%"> 
        <input type="text" name="form[css_class]" size="34" maxlength="50" class="text" value="{CSS_CLASS}">
      </td>
    </tr>
    <tr> 
      <td width="100%" colspan="2" align="center" height="62"> 
        <input type="submit" name="Abschicken" value="Save">
      </td>
    </tr>
  </table>
        
  <input type="hidden" name="element_id" value="{ELEMENT_ID}">
  <input type="hidden" name="s" value="{S}">
  <input type="hidden" name="art" value="attachField">
  <input type="hidden" name="doctype_id" value="{DOCTYPE_ID}">
</form>

