<table border="0" width="100%" cellspacing="0" cellpadding="0" height="74" bgcolor="{TABLE_H_COLOR}">
  <tr>
    <td width="100%" height="61">
    <div align="center">
      <center>
    <table border="0" width="100%" height="132" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100%" height="1" class="normal_bold">&nbsp;Bookmarks
          importieren:</td>
      </tr>
      <tr>
        <td width="100%" height="19">
          <div align="center">
            <center><table bgcolor="{TABLE_H_COLOR}">
<FORM ENCTYPE="multipart/form-data" ACTION="import_2.php" METHOD=POST>
<INPUT TYPE="hidden" name="MAX_FILE_SIZE" value="500000" class="text">
<tr><td>Datei: </td><td><input type="File" name="userfile" size="25" maxlength="255"></td></tr>
<tr><td colspan="2" align="CENTER"><INPUT TYPE="submit" VALUE="Bookmarks Importieren"></td></tr>
<input type="hidden" name="s" value="{S}"></FORM>
</table>
            </center>
          </div>
        </td>
      </tr>
    </table>
      </center>
    </div>
    </td>
  </tr>
</table>
<div align="center">
  <center>
<table border="0" width="100%" cellspacing="0" cellpadding="4" height="352" bgcolor="{TABLE_H_COLOR}">
  <tr>
    <td width="100%" style="font-family: Verdana, Arial, Helvetica; font-size: 8pt" align="left" height="40">
      <font size="1">Den Button &quot;Bookmarks Importieren&quot; bitte nur
      einmal drücken!&nbsp;<br>
      Das importieren kann 2 - 3 Minuten dauern, je nach Anzahl der Bookmarks.</font>
      </td>
  </tr>
  <tr>
    <td width="100%" style="font-family: Verdana, Arial, Helvetica; font-size: 8pt" align="left" height="40">
      <font size="2"><b>Internet Explorer</b></font>
      </td>
  </tr>
  <tr>
    <td width="100%" style="font-family: Verdana, Arial, Helvetica; font-size: 8pt" align="left" height="138">
      <ol>
        <li>Wählen Sie den Menüpunkt Datei &gt; Importieren / Exportieren in
          Ihrem Internet Explorer.
        <li>Klicken Sie auf weiter und wählen &quot;Favoriten Exportieren&quot;
        <li>Treffen Sie die Auswahl der zu exportierenden Einträge
        <li>Wählen Sie &quot;Einträge in Datei exportieren&quot; und geben als
          Datei<br>
          z.B. &quot;C:\bookmark.htm&quot; an. Klicken Sie nun auf fertigstellen.
        <li>Klicken Sie nun oben auf dieser Seite auf den
          &quot;Durchsuchen...&quot;- (&quot;Browse...&quot;-) Button, wählen
          die zuvor gespeicherte&nbsp;<br>
          Bookmarkdatei aus und klicken auf Bookmarks Importieren.<br>
          <br>
          Hinweis: Das Exportieren von Bookmarks aus älteren Versionen
          des&nbsp; Internet Explorer ( 4.0 oder älter ) ist nur über ein
          Bookmark export und kovertierprogramm wie z.B. die Shareware&nbsp;<a href="http://www.magnusbrading.com/bmc/"><br>
          Bookmark Converter 2.x</a> möglich.&nbsp;<br>
          Vorgehensweise: konvertieren Sie Ihre Bookmarks in das Netscape
          Bookmarkformat und importieren Sie diese wie oben unter 5.
          beschrieben.
      </ol>
      </td>
  </tr>
  <tr>
    <td width="100%" style="font-family: Verdana, Arial, Helvetica; font-size: 8pt" align="left" height="44">
      <b><font size="2">Netscape Navigator</font></b>
      </td>
  </tr>
  <tr>
    <td width="100%" style="font-family: Verdana, Arial, Helvetica; font-size: 8pt" align="left" height="75">
      <ol type="1">
        <li>Drücken Sie &quot;Strg-B&quot; um Ihre Bookmarks aufzurufen.
        <li>Wählen Sie nun den Menüpunkt &quot;File&quot;
          (&quot;Datei&quot;) und darunter den Punkt &quot;Save As ...&quot; (&quot;Sichern
          unter ...&quot;) aus.
        <li>Geben Sie als Datei z.B. &quot;C:\bookmark.htm&quot; an.
        <li>Klicken Sie nun oben auf dieser Seite auf den
          &quot;Durchsuchen...&quot;- (&quot;Browse...&quot;-) Button, wählen
          die zuvor gespeicherte&nbsp;<br>
          Bookmarkdatei aus und klicken auf Bookmarks Importieren.
      </ol>
      </td>
  </tr>
</table>