<form name="form1" method="post" action="index.php">
<table width="450" border="0" cellpadding="0" cellspacing="0" bgcolor="#EEEEEE">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="107" class="normal"><b>&nbsp;{TXT_STANDARD_INDEX}:</b></td>
      <td width="343"><textarea name="standard_index" cols="30" rows="5">{STANDARD_INDEX}</textarea></td>
    </tr>
    <tr>
      <td height="67" colspan="2" align="center">{TXT_STANDARD_INDEX_VARIABLES}</td>
    </tr>
    <tr>
      <td class="normal"><b>&nbsp;{TXT_USER_STANDARD_INDEX}:</b></td>
      <td><textarea name="user_standard_index" cols="30" rows="5">{USER_STANDARD_INDEX}</textarea></td>
    </tr>
    <tr>
      <td height="94" colspan="2" align="center">{TXT_USER_STANDARD_INDEX_VARIABLES}</td>
    </tr>
    <tr align="center">
      <td height="49" colspan="2"><input type="submit" name="Submit" value="{SPEICHERN}"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <input type="hidden" name="s" value="{S}" />      
  </form>

